<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot">
    <xacro:include filename="$(find outdoor_robot_one)/description/inertial_macros.xacro"/>
    <xacro:include filename="$(find outdoor_robot_one)/description/robot_gazebo.urdf.xacro"/>

    <xacro:include filename="$(find outdoor_robot_one)/description/robot_core.urdf.xacro"/>

    <xacro:include filename="$(find outdoor_robot_one)/description/robot_controller.ros2_control.xacro"/>
    
</robot>
